h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue2);
    padding: 0.5rem;
    border-bottom: 2px solid black;
    font-size: 30pt;
    color: var(--text);
}
