<div class="cardContainer">
  <section id="card">
    <!-- Card Art -->
    @if (imageUrl) {
      <img [src]="imageUrl" class="cardArt" />
    }
    @if (!imageUrl) {
      <img src="assets/placeholderArt.jpg" class="cardArt" />
    }
    <img src="assets/CardTemplates/{{ cardData.template }}.png" />
    <!-- Pendulum Template -->
    <button
      class="pendulumTemplateBtn"
      (click)="cardData.pendulum_template = !cardData.pendulum_template"
      title="Toggle Pendulum Template"
    ></button>
    @if (cardData.pendulum_template) {
      @if (imageUrl) {
        <img [src]="imageUrl" class="cardArtPendulum" />
      }
      @if (!imageUrl) {
        <img src="assets/placeholderArt.jpg" class="cardArtPendulum" />
      }
      <img
        src="assets/CardTemplates/pendulumTemplates/pendulumShade/Pendulum{{
          cardData.template
        }}.png"
      />
      <img src="assets/CardTemplates/pendulumTemplates/PendulumTemplate.png" />
      <input
        class="pendulumScale"
        style="left: 55px"
        [(ngModel)]="cardData.pendulum_scale"
        type="number"
      />
      <input
        class="pendulumScale"
        style="left: 700px"
        [(ngModel)]="cardData.pendulum_scale"
        type="number"
      />
      <textarea
        class="pendulumEffectText"
        [value]="cardData.pendulum_effect_text"
        spellcheck="false"
      ></textarea>
    }
    <!-- Attribute Display -->
    <img src="assets/attributes/{{ cardData.attribute }}.png" alt="Attribute" />
    <!-- Level/Rank Display -->
    @if (cardData.template !== 'Link') {
      @if (cardData.template !== 'Xyz' && cardData.template !== 'Dark Synchro') {
        <img [src]="`assets/levels/level${hoverLevel !== 0 ? hoverLevel : cardData.level}.png`" />
      }
      @if (cardData.template === 'Dark Synchro') {
        <img
          [src]="
            `assets/negativeLevels/nLevel${hoverNLevel !== 0 ? hoverNLevel : cardData.n_level}.png`
          "
        />
      }
      @if (cardData.template === 'Xyz') {
        <img [src]="`assets/ranks/rank${hoverRank !== 0 ? hoverRank : cardData.rank}.png`" />
      }
    }
    <!-- Link Arrows Display-->
    @if (cardData.template === 'Link') {
      @if (linkArrows.topLeft) {
        <img src="assets/linkArrows/topLeft.png" />
      }
      @if (linkArrows.top) {
        <img src="assets/linkArrows/top.png" />
      }
      @if (linkArrows.topRight) {
        <img src="assets/linkArrows/topRight.png" />
      }
      @if (linkArrows.left) {
        <img src="assets/linkArrows/left.png" />
      }
      @if (linkArrows.right) {
        <img src="assets/linkArrows/right.png" />
      }
      @if (linkArrows.bottomLeft) {
        <img src="assets/linkArrows/bottomLeft.png" />
      }
      @if (linkArrows.bottom) {
        <img src="assets/linkArrows/bottom.png" />
      }
      @if (linkArrows.bottomRight) {
        <img src="assets/linkArrows/bottomRight.png" />
      }
    }
    <!-- Template -->
    <button
      class="templateBtn"
      (click)="templateDropdownVisible = !templateDropdownVisible"
      title="Change Template"
    ></button>
    @if (templateDropdownVisible) {
      <div class="templateDropdownGrid">
        @for (i of templates; track $index) {
          @if (cardData.template !== i) {
            <button class="{{ i.replace(' ', '') }}" (click)="selectTemplate(i)">{{ i }}</button>
          }
        }
      </div>
    }

    @if (cardData.template !== 'Link') {
      <!-- Level -->
      @if (cardData.template !== 'Xyz' && cardData.template !== 'Dark Synchro') {
        <div class="levelBtns">
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]; track $index) {
            <button
              class="levelBtn{{ i }}"
              (mouseenter)="hoverLevel = i"
              (mouseleave)="hoverLevel = 0"
              (click)="cardData.level = i; hoverLevel = 0"
              title="Change Level"
            >
              {{ i }}
            </button>
          }
        </div>
      }
      @if (cardData.template === 'Dark Synchro') {
        <div class="nlevelBtns">
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]; track $index) {
            <button
              class="nlevelBtn{{ i }}"
              (mouseenter)="hoverNLevel = i"
              (mouseleave)="hoverNLevel = 0"
              (click)="cardData.n_level = i; hoverNLevel = 0"
              title="Change Negative Level"
            >
              {{ i }}
            </button>
          }
        </div>
      }
      @if (cardData.template === 'Xyz') {
        <div class="rankBtns">
          @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]; track $index) {
            <button
              class="rankBtn{{ i }}"
              (mouseenter)="hoverRank = i"
              (mouseleave)="hoverRank = 0"
              (click)="cardData.rank = i; hoverRank = 0"
              title="Change Rank"
            >
              {{ i }}
            </button>
          }
        </div>
      }
    }
    <!-- Attribute -->
    <button
      class="attributeDropdownBtn"
      (click)="attributeDropdownVisible = !attributeDropdownVisible"
      title="Change Attribute"
    ></button>
    @if (attributeDropdownVisible) {
      <div class="attributeDropdownGrid">
        @for (i of attributes; track $index) {
          @if (cardData.attribute !== i) {
            <button class="attributeBtn{{ i }}" (click)="selectAttribute(i)"></button>
          }
        }
      </div>
    }

    <!-- Name -->
    <input
      #nameInput
      class="name {{ cardData.title_style }}"
      [(ngModel)]="cardData.title"
      (input)="adjustNameScale()"
      spellcheck="false"
      title="Name"
    />
    <button
      class="nameDropdownBtn"
      (click)="this.nameDropdownVisible = !this.nameDropdownVisible"
      title="Name Style"
    ></button>
    @if (nameDropdownVisible) {
      <div class="nameDropdownGrid">
        @for (i of titleStyles; track $index) {
          <button class="{{ i }}" (click)="selectNameStyle(i)">{{ i }}</button>
        }
      </div>
    }
    <!-- Monster Type -->
    <div class="type" #typeBox (click)="adjustTypeValue(typeBox)">
      <span class="bracket">[</span>
      <span
        class="primaryTypeSpan"
        (click)="this.primaryTypeDropdownVisible = !this.primaryTypeDropdownVisible"
        title="Change Primary Monster Type"
        >{{ cardData.primary_type }}</span
      >
      @if (coreTypes.includes(cardData.core_type)) {
        <span class="slash">/</span>
        <span>{{ cardData.core_type }}</span>
      }
      @if (cardData.pendulum_template) {
        <span class="slash">/</span>
        <span>Pendulum</span>
      }
      @if (cardData.ability_type) {
        <span class="slash">/</span>
        <span>{{ cardData.ability_type }}</span>
      }
      @if (cardData.last_type) {
        <span
          class="slash abilityTypeSpan"
          (click)="this.abilityDropdownVisible = !this.abilityDropdownVisible"
          title="Change Ability Monster Type"
          >/</span
        >
        <span>{{ cardData.last_type }}</span>
      }
      <span class="bracket">]</span>
    </div>
    <!-- Monster Type Dropdowns -->
    @if (primaryTypeDropdownVisible) {
      <div class="primaryTypeDropdownGrid">
        @for (i of primaryTypes; track $index) {
          <button class="primaryTypeBtn" (click)="selectPrimaryType(i)">{{ i }}</button>
        }
      </div>
    }
    @if (abilityDropdownVisible) {
      <div class="primaryTypeDropdownGrid">
        @for (i of abilityTypes; track $index) {
          <button class="primaryTypeBtn" (click)="selectAbilityType(i)">{{ i }}</button>
        }
      </div>
    }

    <!-- Text -->
    <textarea
      class="effectText"
      #effectRender
      [ngClass]="{
        text6Lines: effectMode === 6,
        text7Lines: effectMode === 7,
        text8Lines: effectMode === 8,
      }"
      [value]="cardData.effect_text"
      (input)="adjustEffectText(effectRender)"
      spellcheck="false"
    >
    </textarea>

    <input #atkInput class="atk" [value]="cardData.atk" (input)="adjustAtkDefValue(atkInput)" />
    @if (cardData.template != 'Link') {
      <input #defInput class="def" [value]="cardData.def" (input)="adjustAtkDefValue(defInput)" />
    }
    @if (cardData.template === 'Link') {
      <input class="linkRating" type="number" [value]="cardData.link_rating" title="Link Rating" />
    }

    <!-- Link Arrow Buttons -->
    @if (cardData.template === 'Link') {
      <button class="link-arrow-btn1" (click)="toggleLinkArrow('topLeft')"></button>
      <button class="link-arrow-btn2" (click)="toggleLinkArrow('top')"></button>
      <button class="link-arrow-btn3" (click)="toggleLinkArrow('topRight')"></button>
      <button class="link-arrow-btn4" (click)="toggleLinkArrow('left')"></button>
      <button class="link-arrow-btn5" (click)="toggleLinkArrow('right')"></button>
      <button class="link-arrow-btn6" (click)="toggleLinkArrow('bottomLeft')"></button>
      <button class="link-arrow-btn7" (click)="toggleLinkArrow('bottom')"></button>
      <button class="link-arrow-btn8" (click)="toggleLinkArrow('bottomRight')"></button>
    }

    <input
      [ngClass]="{
        imageButton: !cardData.pendulum_template,
        imageButtonPendulum: cardData.pendulum_template,
      }"
      (change)="onImageSelected($event)"
      type="file"
      title="Change Card Art"
    />
  </section>
</div>
<div class="buttons">
  <button class="generatePNGButton" (click)="generatePNG()">Generate PNG</button>
  <button class="saveCardButton" (click)="saveCard()">Save Card</button>
</div>
