<section class="header">
  <h1>Card Catalog</h1>
  <input
    type="range"
    min="0"
    max="2"
    step="0.01"
    [(ngModel)]="cardSize"
    (wheel)="onWheel($event)"
    title="Adjust Card Size"
  />
</section>

<div class="cardList">
  @for (card of cards; track $index) {
    <div
      class="cardWrapper"
      [class.active]="selectedCard === card"
      (click)="selectCard(card, $event)"
    >
      <img [src]="card.image_url" [style.width.px]="297 * cardSize" />

      <div class="cardActions">
        @if (selectedCard === card) {
          <button class="editCardButton" (click)="editCard(card.id)" title="Edit Card">
            <i class="bx bx-edit-alt"></i>
          </button>
          <button class="removeCardButton" (click)="removeCard(card.id)" title="Remove Card">
            <i class="bx bx-trash"></i>
          </button>
        }
      </div>
    </div>
  }
</div>
