.header {
  padding: 0.5rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 34, 97);
  border-bottom: 2px solid var(--hover);
}

input {
  scale: 1.5;
  transform-origin: center;
}

.cardList {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

img {
  cursor: pointer;
  transition: 1s ease;
  transition: filter 0.4s ease; // or 1s if you prefer
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cardWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: filter 1s ease;
}

.cardWrapper.active img {
  filter: brightness(0.5);
}

.cardActions button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;
  font-size: 30pt;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.editCardButton {
  background-color: var(--hover);
  transition: 1s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    filter: brightness(0.6);
  }
}

.removeCardButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(255, 63, 63);
  transition: 1s ease;

  &:hover {
    filter: brightness(0.6);
  }
}

.cardActions {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.cardWrapper.active .cardActions {
  opacity: 1;
}
