.cardContainer {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

section {
    position: absolute;

    img {
        position: absolute;
    }
}

.cardArt {
  width: 613px;
  height: 613px;
  object-fit: cover;
  position: absolute;
  top: 219px;
  left: 100px;
}

.atk,
.def {
    position: absolute;
    text-align: right;
    width: 75px;
    top: 1081px;
    font-size: 36px;
    font-family: ATKDEF;
    letter-spacing: 0.4px;
    transform-origin: right;

    &:hover {
        background-color: var(--accent);
    }
}

.atk {
    right: 232px;
}

.def {
    right: 66px;
}

.name {
    position: absolute;
    top: 68px;
    height: 58px;
    width: 616px;
    left: 62px;
    font-size: 88px;
    font-family: title;
    letter-spacing: 1px;
    transform: scaleY(1.02);
    transform-origin: left center;
}

input,
textarea,
button {
    all: unset;
}

.Common {
    color: black;
}

.Rare {
    color: white;
}

.Secret-Rare {
    background-image: linear-gradient(#fff211 35%, #fffff8 40%, #fff211 55%, #bd920f 53%, #f7ce1e 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: 
        grayscale(100%) 
        drop-shadow(-0.7px 0 rgba(0, 0, 0, 0.5)) 
        drop-shadow(0.7px 0 rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 -0.7px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0.7px rgba(0, 0, 0, 0.5)) 
        drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0 0.4px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0 0.7px rgba(0, 0, 0, 0.5));
}

.Ultra-Rare {
    background-image: linear-gradient(to bottom, #fff211 35%, #fffff8 40%, #fff211 55%, #bd920f 53%, #f7ce1e 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:
        drop-shadow(-0.7px 0 rgba(0, 0, 0, 0.5)) 
        drop-shadow(0.7px 0 rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 -0.7px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0.7px rgba(0, 0, 0, 0.5)) 
        drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0 0.4px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0 0.7px rgba(0, 0, 0, 0.5));
}

.Barian {
    background-image: linear-gradient(#ff3b6a 35%, #ffb6d5 40%, #ff3b6a 48%, #b8004c 53%, #ff5eae 70%);
    -webkit-background-clip: text;
    background-position: 0 4px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: 
        drop-shadow(-0.7px 0 rgba(0, 0, 0, 0.5)) 
        drop-shadow(0.7px 0 rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 -0.7px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0.7px rgba(0, 0, 0, 0.5)) 
        drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0 0.4px rgba(0, 0, 0, 0.5)) 
        drop-shadow(0 0 0.7px rgba(0, 0, 0, 0.5));
}


.type {
    position: absolute;
    bottom: 258px;
    left: 60px;
    font-family: monstertype;
    font-size: 25pt;
    transform-origin: left;
    white-space: nowrap;
}


/* Primary Type Styling*/
.type span {
    line-height: 1;
}

.type .slash,
.type .bracket {
    position: relative;
    font-size: 24pt;
}

.type .slash {
    font-size: 23pt;
    bottom: 1px;
    padding: 2px
}

.type .bracket {
    font-size: 22pt;
    bottom: 3px;
    padding: 3px
}

.loreText {
    position: absolute;
    top: 922px;
    left: 64px;
    width: 686px;
    height: 154px;
    font-family: lore;
    font-size: 25px;
    text-align: justify;
    line-height: 1;
}

.effectText {
    position: absolute;
    top: 922px;
    left: 64px;
    width: 686px;
    height: 157px;
    font-family: effect;
    text-align: justify;
    line-height: 0.9;
    transform-origin: left;
}

.text6Lines {font-size: 29px;}
.text7Lines {font-size: 24px;}
.text8Lines {font-size: 21px;}



.createButton {
    position: absolute;
    top: 12px;
    left: 566px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#card {
    position: relative;
    width: 813px;
    height: 1185px;
}

.levelBtns button {
    position: absolute;
    top: 145px;
    height: 50px;
    width: 55px;
    text-align: center;
    color: transparent;
    cursor: pointer;
    font-weight: 900;

    &:hover {
        color: black;
        font-size: 25pt;
    }
}

.levelBtn1 {left: 676px;}
.levelBtn2 {left: 621px;}
.levelBtn3 {left: 567px;}
.levelBtn4 {left: 513px;}
.levelBtn5 {left: 459px;}
.levelBtn6 {left: 405px;}
.levelBtn7 {left: 351px;}
.levelBtn8 {left: 297px;}
.levelBtn9 {left: 243px;}
.levelBtn10 {left: 189px;}
.levelBtn11 {left: 135px;}
.levelBtn12 {left: 81px;}
.levelBtn13 {left: 24px;}


.rankBtns button {
    position: absolute;
    top: 145px;
    height: 50px;
    width: 55px;
    text-align: center;
    color: transparent;
    cursor: pointer;
    font-weight: 900;

    &:hover {
        color: white;
        font-size: 25pt;
    }
}

.rankBtn1 {left: 81px;}
.rankBtn2 {left: 135px;}
.rankBtn3 {left: 189px;}
.rankBtn4 {left: 243px;}
.rankBtn5 {left: 297px;}
.rankBtn6 {left: 351px;}
.rankBtn7 {left: 405px;}
.rankBtn8 {left: 459px;}
.rankBtn9 {left: 513px;}
.rankBtn10 {left: 567px;}
.rankBtn11 {left: 621px;}
.rankBtn12 {left: 676px;}
.rankBtn13 {left: 730px;}

.nlevelBtns button {
    position: absolute;
    top: 145px;
    height: 50px;
    width: 55px;
    text-align: center;
    color: transparent;
    cursor: pointer;
    font-weight: 900;

    &:hover {
        color: rgb(255, 255, 255);
        font-size: 25pt;
    }
}

.nlevelBtn1 {left: 81px;}
.nlevelBtn2 {left: 135px;}
.nlevelBtn3 {left: 189px;}
.nlevelBtn4 {left: 243px;}
.nlevelBtn5 {left: 297px;}
.nlevelBtn6 {left: 351px;}
.nlevelBtn7 {left: 405px;}
.nlevelBtn8 {left: 459px;}
.nlevelBtn9 {left: 513px;}
.nlevelBtn10 {left: 567px;}
.nlevelBtn11 {left: 621px;}
.nlevelBtn12 {left: 676px;}
.nlevelBtn13 {left: 730px;}

.attributeDropdownBtn {
    position: absolute;
    top: 56px;
    left: 680px;
    height: 74px;
    width: 74px;
    border-radius: 3rem;

    &:hover {
        background-color: var(--accent);
    }
}

.attributeDropdownGrid {
    position: absolute;
    top: 130px;
    left: 626px;
    display: grid;
    grid-template-columns: repeat(2, 74px);
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--background);
    border: var(--accent) 2px solid;
}

.attributeDropdownGrid button {
    position: relative;
    height: 74px;
    width: 74px;
}

.attributeBtnLight {
    background-image: url(/assets/attributes/Light.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}

.attributeBtnDivine {
    background-image: url(/assets/attributes/Divine.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}

.attributeBtnWind {
    background-image: url(/assets/attributes/Wind.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}

.attributeBtnFire {
    background-image: url(/assets/attributes/Fire.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}

.attributeBtnWater {
    background-image: url(/assets/attributes/Water.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}

.attributeBtnEarth {
    background-image: url(/assets/attributes/Earth.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}

.attributeBtnDark {
    background-image: url(/assets/attributes/Dark.png);
    background-position: right -59px top -57px;

    &:hover {
        filter: brightness(0.7);
    }
}


.templateBtn {
    position: absolute;
    top: 205px;
    left: 769px;
    height: 584px;
    width: 44px;
    cursor: pointer;

    &:hover {
        background-color: var(--accent);
    }
}


.templateDropdownGrid {
    position: absolute;
    top: 280px;
    right: 88px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--background);
    border: var(--accent) 2px solid;
    z-index: 1;
}

.templateDropdownGrid button {
    position: relative;
    height: 57px;
    width: 200px;
    text-align: center;
    font-size: 14pt;
    font-family: monsterType;
    border: var(--accent) 2px solid;

    &:hover {
        filter: brightness(0.7);
    }
}

.Normal {background-color: #be9c67;}
.Effect {background-color: #ae6d50;}
.Fusion {background-color: #804d9f;}
.Ritual {background-color: #6686c4;}
.Synchro {background-color: #efefef;}
.Xyz {background-color: #1a1a1a; color: white;}
.Link {background-color: #214b81;}
.Token {background-color: #6e6c6b;}
.Slifer {background-color: #bb4638;}
.Obelisk {background-color: #4343b3;}
.Ra {background-color: #ebc41b;}
.LegendaryDragon {background-color: #2d95b7;}
.DarkSynchro {background-color: #584d4d;}
.Skill {background-color: #008dce;}
.Spell {background-color: #458e83;}
.Trap {background-color: #b33689;}


.primaryTypeDropdownGrid {
    position: absolute;
    bottom: 303px;
    left: 62px;
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 0.6rem;
    padding: 0.5rem;
    background-color: var(--background);
    border: var(--accent) 2px solid;
    z-index: 2;
}

.primaryTypeBtn {
    color: white;
    font-size: 15pt;
    cursor: pointer;
    font-size: 20pt;

    &:hover {
        background-color: var(--accent);
    }
}

.nameDropdownBtn {
    position: absolute;
    top: 28px;
    left: 53px;
    height: 40px;
    width: 620px;
    background-color: transparent;
    cursor: pointer;
    
    &:hover {
        background-color: var(--accent);
    }
}

.nameDropdownGrid {
    position: absolute;
    top: 68px;
    left: 62px;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 30pt;
    background-color: var(--background);
    border: var(--accent) 2px solid;
    z-index: 1;
}

.nameDropdownGrid button{
    cursor: pointer;
    
    &:hover {
        all: unset;
        background-color: var(--accent);
    }
}


.pendulumTemplateBtn {
    position: absolute;
    top: 1122px;
    left: 28px;
    height: 33px;
    width: 757px;
    cursor: pointer;
    z-index: 1;

    &:hover {
        background-color: var(--accent);
    }
}

.pendulumScale {
    position: absolute;
    top: 791px;
    font-family: pendulum;
    font-size: 69px;
    text-align: center;
    z-index: 1;
    text-align: center;
    width: 53pt;
    letter-spacing: -6px;
    
}

.pendulumEffectText {
    position: absolute;
    top: 745px;
    left: 126px;
    width: 559px;
    height: 120px;
    font-family: matrixBook;
    font-size: 27px;
    text-align: justify;
    line-height: 1;
    z-index: 1;
    resize: none;
}

.cardArtPendulum {
    width: 702px;
    height: 702px;
    position: absolute;
    top: 212px;
    left: 55px;
}

.linkRating {
    position: absolute;
    width: 35px;
    top: 1076px;
    right: 50px;
    font-size: 20px;
    font-family: linkRating;
    transform: scaleY(1.3) scaleX(1.5);
}

.link-arrow-btn1 {
    position: absolute;
    top: 196px;
    right: 689px;
    height: 47px;
    width: 47px;
    cursor: pointer;
}

.link-arrow-btn2 {
    position: absolute;
    top: 183px;
    right: 359px;
    height: 28px;
    width: 95px;
    cursor: pointer;
}

.link-arrow-btn3 {
    position: absolute;
    top: 196px;
    right: 76px;
    height: 47px;
    width: 47px;
    cursor: pointer;
}

.link-arrow-btn4 {
    position: absolute;
    top: 480px;
    right: 721px;
    height: 92px;
    width: 28px;
    cursor: pointer;
}

.link-arrow-btn5 {
    position: absolute;
    top: 480px;
    right: 63px;
    height: 92px;
    width: 28px;
    cursor: pointer;
}

.link-arrow-btn6 {
    position: absolute;
    top: 808px;
    right: 689px;
    height: 47px;
    width: 47px;
    cursor: pointer;
}

.link-arrow-btn7 {
    position: absolute;
    top: 840px;
    right: 359px;
    height: 28px;
    width: 95px;
    cursor: pointer;
}

.link-arrow-btn8 {
    position: absolute;
    top: 808px;
    right: 77px;
    height: 47px;
    width: 47px;
    cursor: pointer;
}

.imageButton {
    position: absolute;
    top: 218px;
    left: 99px;
    width: 614px;
    height: 614px;
    color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;

    &:hover {
        background-color: var(--accent);
        opacity: 1;
    }
}

.imageButtonPendulum {
    position: absolute;
    top: 212px;
    left: 55px;
    width: 702px;
    height: 525px;
    color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0;

    &:hover {
        background-color: var(--accent);
        opacity: 1;
    }
}

.primaryTypeSpan, .abilityTypeSpan {
    cursor: pointer;
    &:hover {
        background-color: var(--accent);
    }
}