<app-header></app-header>
<div class="cardContainer">
  <section id="card">
    <img src="assets/CardTemplates/{{template}}Template.png" alt="Normal Template">
    <img src="assets/placeholderArt.jpg" alt="Placeholder Art" class="cardArt">
    <img src="assets/attributes/{{attribute}}.png" alt="Attribute">
    <img [src]="`assets/levels/level${hoverLevel !== 0 ? hoverLevel : level}.png`" alt="Level" [style.opacity]="hoverLevel ? 0.5 : 1">

    <!-- Template -->
    <button class="templateBtnLeft" (click)="toggleTemplateDropdown()"></button>
    <button class="templateBtnRight"(click)="toggleTemplateDropdown()"></button>
    @if (templateDropdownVisible) {
      <div class="templateDropdownGrid">
        @for (i of templates; track $index) {
          @if (attribute !== i) {
            <button
              class="templateBtn{{i}}"
              (click)="selectTemplate(i)"
            >{{i}}</button>
          }
        }
      </div>
    }


    <!-- Level -->
    <div class="levelBtns">
      @for (i of [1,2,3,4,5,6,7,8,9,10,11,12,13]; track $index) {
        <button
          class= "levelBtn{{i}}"
          (mouseenter)="hoverLevel = i"
          (mouseleave)="hoverLevel = 0"
          (click)="level = i; hoverLevel = 0"
        >{{i}}</button>
      }
    </div>

    <!-- Attribute -->
    <button class="attributeDropdownBtn" (click)="toggleAttributeDropdown()"></button>
    @if (attributeDropdownVisible) {
      <div class="attributeDropdownGrid">
        @for (i of attributes; track $index) {
          @if (attribute !== i) {
            <button
              class="attributeBtn{{i}}"
              (click)="selectAttribute(i)"
            ></button>
          }
        }
      </div>
    }


    <input class="name UltraRare" [value]="title" spellcheck="false">
    <input class="atk" [value]="atk">
    <input class="def" [value]="def">


    <div class="type">
      <span class="bracket">[</span>
      <span class="monsterType">{{primaryType}}</span>
      <span class="slash">/</span>
      <span class="monsterType">{{lastType}}</span>
      <span class="bracket">]</span>
    </div>


    <textarea class="effectText" [value]="effectText" spellcheck="false"></textarea>
  </section>
</div>
<button class="createButton" (click)="createCard()">Create Card</button>

<router-outlet></router-outlet>