.cardContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

section {
  position: absolute;

  img {
    position: absolute;
  }
}

.cardArt {
  width: 613px;
  top: 219px;
  left: 100px
}

.atk,
.def {
  position: absolute;
  text-align: right;
  width: 75px;
  top: 1081px;
  font-size: 36px;
  font-family: ATKDEF;
  letter-spacing: 0.4px;
  transform-origin: right ;
}

.atk {
  right: 232px;
}

.def {
  right: 66px;
}

.name {
  position: absolute;
  top: 68px;
  height: 58px;
  width: 616px;
  left: 62px;
  font-size: 88px;
  font-family: title;
  letter-spacing: 1px;
  transform: scaleY(1.02);
  transform-origin: left center;
}

input,
textarea, button {
  all: unset;
}

.Common {
  color: black;
}

.Rare {
  color: white;
}

.Secret-Rare {
  background-image: linear-gradient(#fff211 35%, #fffff8 40%, #fff211 55%, #bd920f 53%, #f7ce1e 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: grayscale(100%) drop-shadow(-0.7px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0.7px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0 -0.7px rgba(0, 0, 0, 0.5)) drop-shadow(0 0.7px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 0.4px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 0.7px rgba(0, 0, 0, 0.5));
}

.Ultra-Rare {
  background-image: linear-gradient(to bottom, #fff211 35%, #fffff8 40%, #fff211 55%, #bd920f 53%, #f7ce1e 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter:
    drop-shadow(-0.7px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0.7px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0 -0.7px rgba(0, 0, 0, 0.5)) drop-shadow(0 0.7px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 0.4px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 0.7px rgba(0, 0, 0, 0.5));
}

.Barian {
  background-image: linear-gradient(#ff3b6a 35%, #ffb6d5 40%, #ff3b6a 48%, #b8004c 53%, #ff5eae 70%);
  -webkit-background-clip: text;
  background-position: 0 4px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(-0.7px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0.7px 0 rgba(0, 0, 0, 0.5)) drop-shadow(0 -0.7px rgba(0, 0, 0, 0.5)) drop-shadow(0 0.7px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 0.4px rgba(0, 0, 0, 0.5)) drop-shadow(0 0 0.7px rgba(0, 0, 0, 0.5));
}


.type {
  position: absolute;
  bottom: 258px;
  left: 60px;
}

/* Primary Type Styling*/
.type .monsterType {
  font-family: monstertype;
  font-size: 25pt;
  line-height: 1;
}

.type .slash,
.type .bracket {
  font-family: monstertype;
  position: relative;
  font-size: 24pt;
}

.type .slash {
  font-size: 23pt;
  bottom: 1px;
  padding: 2px
}

.type .bracket {
  font-size: 22pt;
  bottom: 3px;
  padding: 3px
}

.effectText {
  position: absolute;
  top: 922px;
  left: 64px;
  width: 686px;
  height: 150px;
  font-family: lore;
  font-size: 27px;
  text-align: justify;
  line-height: 1;
}


.createButton {
  position: absolute;
    top: 12px;
    left: 566px;
  padding: 10px 20px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#card {
  position: relative;
  width: 813px;
  height: 1185px;
}

.levelBtn13 {
  left: 24px;
}

.levelBtn12 {
  left: 81px;
}

.levelBtn11 {
  left: 135px;
}

.levelBtn10 {
  left: 189px;
}

.levelBtn9 {
  left: 243px;
}

.levelBtn8 {
  left: 297px;
}

.levelBtn7 {
  left: 351px;
}

.levelBtn6 {
  left: 405px;
}

.levelBtn5 {
  left: 459px;
}

.levelBtn4 {
  left: 513px;
}

.levelBtn3 {
  left: 567px;
}

.levelBtn2 {
  left: 621px;
}

.levelBtn1 {
  left: 676px;
}


.levelBtns button {
  position: absolute;
  top: 145px;
  height: 50px;
  width: 55px;
  text-align: center;
  color: transparent;
  cursor: pointer;

  &:hover {
    color: black;
    font-size: 15pt;
  }
}

.attributeDropdownBtn {
  position: absolute;
  top: 56px;
  left: 680px;
  height: 74px;
  width: 74px;
  border-radius: 3rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.attributeDropdownGrid {
  position: absolute;
  top: 130px;
  left: 626px;
  display: grid;
  grid-template-columns: repeat(2, 74px);
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.8rem;
}

.attributeDropdownGrid button {
  position: relative;
  height: 74px;
  width: 74px;
}

.attributeBtnLight {
  background-image: url(/assets/attributes/Light.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.attributeBtnDivine {
  background-image: url(/assets/attributes/Divine.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.attributeBtnWind {
  background-image: url(/assets/attributes/Wind.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.attributeBtnFire {
  background-image: url(/assets/attributes/Fire.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.attributeBtnWater {
  background-image: url(/assets/attributes/Water.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.attributeBtnEarth {
  background-image: url(/assets/attributes/Earth.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.attributeBtnDark {
  background-image: url(/assets/attributes/Dark.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}


.templateBtn {
position: absolute;
    top: 205px;
    left: 726px;
    height: 673px;
    width: 59px;
    cursor: pointer;
      &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}


.templateDropdownGrid {
    position: absolute;
    top: 205px;
    right: 90px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;
}

.templateDropdownGrid button {
  position: relative;
  height: 57px;
  width: 200px;
  background-color: #6a4caf;
  text-align: center;
  font-size: 15pt;
  font-family: monsterType;
}

.templateBtnNormal {
  background-image: url(/assets/CardTemplates/NormalTemplate.png);
  background-position: left -52px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnEffect {
  background-image: url(/assets/CardTemplates/EffectTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnFusion {
  background-image: url(/assets/CardTemplates/FusionTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnRitual {
  background-image: url(/assets/CardTemplates/RitualTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnSynchro {
  background-image: url(/assets/CardTemplates/SynchroTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnXyz {
  background-image: url(/assets/CardTemplates/XyzTemplate.png);
  background-position: right -59px top -57px;
 color: white;
  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnPendulum {
  background-image: url(/assets/CardTemplates/PendulumTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnLink {
  background-image: url(/assets/CardTemplates/LinkTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnToken {
  background-image: url(/assets/CardTemplates/TokenTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnSlifer {
  background-image: url(/assets/CardTemplates/SliferTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.templateBtnObelisk {
  background-image: url(/assets/CardTemplates/ObeliskTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}
.templateBtnRa {
  background-image: url(/assets/CardTemplates/RaTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}
.templateBtnLegendaryDragon {
  background-image: url(/assets/CardTemplates/LegendaryDragonTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}
.templateBtnDarkSynchro {
  background-image: url(/assets/CardTemplates/DarkSynchroTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}
.templateBtnSkill {
  background-image: url(/assets/CardTemplates/SkillTemplate.png);
  background-position: right -59px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}
.templateBtnSpell {
  background-image: url(/assets/CardTemplates/SpellTemplate.png);
  background-position: right -200px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}
.templateBtnTrap {
  background-image: url(/assets/CardTemplates/TrapTemplate.png);
  background-position: right -200px top -57px;

  &:hover {
    filter: brightness(0.7);
  }
}

.primaryTypeDropdownBtn {
position: absolute;
    bottom: 263px;
    left: 76px;
    height: 30px;
    width: 75px;
    z-index: 999;
    cursor:  pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.primaryTypeDropdownGrid {
    position: absolute;
    bottom: 303px;
    left: 62px;
    display: grid;
    grid-template-columns: repeat(3, 160px);
    gap: 0.6rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.8rem;
}

.primaryTypeBtn {
      color: white;
      font-size: 15pt;
    cursor: pointer;
        font-size: 20pt;

}

.nameDropdownBtn {
position: absolute;
top: 28px;
    left: 53px;
    height: 40px;
    width: 620px;
    background-color: transparent;
cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.nameDropdownGrid {
    position: absolute;
    top: 68px;
    left: 62px;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    font-size: 30pt;
    background-color: var(--accent);
    border: var(--hover) 2px solid;

}

.artBtn {
  position: absolute;
  top: 219px;
  left: 100px;
  height: 613px;
  width: 613px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.pendulumTemplateBtn {
    position: absolute;
    top: 1122px;
    left: 28px;
    height: 33px;
    width: 757px;
    cursor: pointer;
    z-index: 1;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}