<nav class="navbar">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    >Card Maker</a
  >
  <a routerLink="/cardCatalog" routerLinkActive="active">Card Catalog</a>
  <h1><span>Yu-Gi-Oh! </span>Card Maker</h1>
  <a style="color: brown" title="coming soon">Deck Editor</a>
  <a style="color: brown" title="coming soon">Deck Catalog</a>
  <div class="loginDisplay">
    @if (!authenticatedUser) {
      <button class="registerBtn" (click)="reg = !reg; log = false">Register</button>
      <button class="loginBtn" (click)="reg = false; log = !log">Login</button>
      @if (reg || log) {
        <section class="loginTemplate">
          @if (log) {
            <h2>Sign in</h2>
          } @else {
            <h2>Register</h2>
          }
          <div class="loginInfo">
            <div class="inputs">
              <i class="bx bxs-user"></i>
              <input placeholder="Username" [(ngModel)]="username" spellcheck="false" />
            </div>
            <div class="inputs">
              <i class="bx bxs-lock"></i>
              <input placeholder="Password" [(ngModel)]="password" spellcheck="false" />
            </div>
          </div>
          @if (log) {
            <button (click)="login()">Login</button>
          } @else {
            <button (click)="register()">Register</button>
          }
        </section>
      }
    } @else {
      <div class="log">{{ authenticatedUser }}</div>
      <button class="logoutBtn" (click)="logout()">Logout</button>
    }
  </div>
  <div class="home-links">
    <a href="https://www.linkedin.com/in/matthew-landis-885a02168/" title="Linkedin"
      ><i class="bx bxl-linkedin"></i
    ></a>
    <a href="https://github.com/MatthewLandis" title="GitHub"><i class="bx bxl-github"></i></a>
    <a href="mailto:Matthewlandis51@outlook.com" title="Mail"><i class="bx bx-envelope"></i></a>
  </div>
</nav>
