h1 {
  font-size: 30pt;
  color: var(--text);
  padding-right: 2rem;
  border-right: 2px solid var(--hover);
}

span {
  color: var(--hover);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: #fdf5e8;
  font-weight: bold;
  border-bottom: 2px solid var(--hover);
}

.navbar a {
  font-size: 24pt;
  color: var(--text);
  text-decoration: none;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #c4b5a1;
  }
}

.navbar a.active {
  border-bottom: 2px solid var(--hover);
}
