h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    padding: 0.5rem;
    border-bottom: 2px solid var(--hover);
    font-size: 30pt;
    color: var(--text);
}
