h1 {
  font-size: 30pt;
  color: var(--text);
  padding-right: 2rem;
  border-right: 2px solid var(--hover);
}

span {
  font-style: italic;
  color: var(--hover);
  padding-right: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: #222;
  border-bottom: 2px solid var(--hover);
}

.navbar a {
  font-size: 20pt;
  color: var(--text);
  text-decoration: none;
  transition:
    color 0.2s ease,
    border-color 0.2s ease;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #4da3ff;
  }
}

.navbar a.active {
  border-bottom: 2px solid #4da3ff;
}
