* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent: rgba(0, 140, 255, 0.7);
  --background: #0a0f2c;
  --hover: #4da3ff;
  --text: #f0f8ff;
}

body {
  background-color: var(--background);
}

@font-face {
  font-family: 'ATKDEF';
  src: url('/fonts/MatrixBoldSmallCaps.otf') format('opentype');
}

@font-face {
  font-family: 'title';
  src: url('/fonts/MatrixRegularSmallCaps.ttf') format('truetype');
}

@font-face {
  font-family: 'monstertype';
  src: url('/fonts/monsterType.ttf') format('truetype');
}

@font-face {
  font-family: 'lore';
  src: url('/fonts/lore.ttf') format('truetype');
}

@font-face {
  font-family: 'pendulum';
  src: url('/fonts/MatrixBoldFractions.otf') format('opentype');
}

@font-face {
  font-family: 'effect';
  src: url('/fonts/MatrixBook.ttf') format('truetype');
}

@font-face {
  font-family: 'linkRating';
  src: url('/fonts/RoGSanSrfStd-UB.otf') format('opentype');
}
