* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #00BFFF;
    --background: #0A0F2C;
    --hover: #00CED1;
    --text: #F0F8FF;
}

body {
    background-color: var(--background);
}

@font-face {
  font-family: 'ATKDEF';
  src: url('/assets/fonts/MatrixBoldSmallCaps.otf') format('opentype');
}

@font-face {
  font-family: 'title';
  src: url('/assets/fonts/MatrixRegularSmallCaps.ttf') format('truetype');
}

@font-face {
  font-family: 'monstertype';
  src: url('/assets/fonts/monsterType.ttf') format('truetype');
}

@font-face {
  font-family: 'lore';
  src: url('/assets/fonts/lore.ttf') format('truetype');
}